.item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 20px;
    width: 430px;
    border: 1px solid #59b2f6;
    background-color: #fdfdfd;
    box-shadow: 0 5px 7px -1px rgba(40, 136, 238, 0.621);
  }